[Unit]
Description=isuconquest.go

[Service]
WorkingDirectory=/home/isucon/webapp/go
EnvironmentFile=/home/isucon/env
PIDFile=/home/isucon/webapp/go/server.pid

User=root
Group=root
ExecStart=/home/isucon/.x /home/isucon/webapp/go/isuconquest
ExecStop=/bin/kill -s QUIT $MAINPID
LimitNOFILE= 65536

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
