.vscode

.*
!.gitignore
!.gitkeep
bench
local
go
packer

!webapp/go

# 使わない言語
webapp/frontend
webapp/node
webapp/perl
webapp/php
webapp/python
webapp/ruby
webapp/rust
webapp/java

webapp/tenant_db
webapp/sql/90_data.sql

webapp/docker-compose-*.yml
!webapp/docker-compose-go.yml

initial_data

env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh

logs
pprof

tmp
vetur.config.js
.envrc
isucon_listen80_dump*
users.json

sql/90_isucon_listen80_dump.sql
